body {
	font-family: "Helvetica-Neue", arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #808080;
	background-image: url(../images/food.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	} 




.restaurant-pic {
	height: 50vh;
	
	background-size: cover;
	background-position: 0 40%;
	width: 700px;
	border:1px solid white;
	
}



.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
	width: 700px;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: fixed;
	height: 40%;	
	top: 50px;
	background-position: 0 40%;
	width: 200px;
	left: 930px;
    margin: 4px 0 0 0;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.4;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#dropdownButton{
	position: fixed;
	top: 340px;
	left: 50px;
	
}


#contactus{
	top: 360px;
	width: 200px;
	position: fixed;
	color: grey;
	background-color: #660000;
	border: 2px solid white;
    border-radius: 5px;
    height: 180px;
    left: 50px;

}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}


.restaurant-locator {
	height: 30vh;
	width: 500px;
	background-position: 0 40%;
	background-color: grey;
    border: 1px solid #00ff00;
    outline-color: red;
    left: 290px;
    position: absolute;
    top: 416px;
}

.reservation-button{
	margin: 15px;
	border: 1px solid #00ff00;
	background-color: red;
	position: relative;
	left: 0px;


}

.reservation-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
    color: white;
    }

table{
    
	width: 5px;
    background-color: #808080;
    left: 590px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    top: 50px;
    position: relative;


    }


    th{
    	height: 2px;
    	width: 3px;

       

    }

    td{
    	height: 2px;
    	font-size: 10px;
    	width: 5px;
    }


table:hover{
	opacity: 1;
}

h1{
	font-size: 18px;
	margin: 15px 0 0 0;
	text-align: center;
	color: #00ff00;
}

h2{
	font-size: 12px;
	margin: 10px 0 0 0;
	text-align: center;
	color: #00ff00;
}
h3{
	font-size: 18px;
	margin: 15px 0 0 0;
	text-align: center;
	color: white;
}

h4{
	text-align: center;
	color: white;
	position: absolute;
	
}
h5{
	color: #00ff00;
	position: absolute;
	top: 0px;

}
h6{
	margin: 0 0 0 0;
	color: red;
	font-size: 15px;
}
.locateUsPos{
	position: absolute;
	top: 380px;
	left: 460px;
	font-size: 18px;
	color: white;
}






#hours{
	top: 70px;
	width: 200px;
	position: fixed;
	color: grey;
	background-color: #660000;
	border: 2px solid white;
    border-radius: 5px;
    height: 210px;
    left: 150px;

}


.dropdown-toggle{
	margin: 15px 0 0 0;
	border: 1px solid red;
}


.reservation-name{
	margin: 15px 0 0 0;
	border: 1px solid red;
}

